@using FlowerShop.Models
@model List<CustomerModel>
@{
    ViewBag.Title = "Listar Customers";
}


<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCustomersPartialView", "Customer")",
        })
        .done(function (response) {
            debugger;
            console.log("sucesso");
            console.log(response);

            $(".customers-container").html(response);

            setTimeout(function () {
                $("#customerTable").fadeIn("slow");
            }, 1000);
        })
        .fail(function (error) {
            debugger;
            console.log("ocorreu erro");
            console.log(error);
        });
    });
</script>

<h1>Customers</h1>
<p>@Html.ActionLink("Add", "AddUpdate", "Customer", new { Id = "" }, new { @class = "btn btn-default" })</p>

<div class="customers-container">

</div>